[tool.poetry]
name = "innohassle-musicroom"
version = "0.1.0"
description = ""
authors = ["Saveliy <s.lekhtin@innopolis.university>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
fastapi = "^0.110.0"
uvicorn = "^0.27.1"
pydantic = { version = "^2.4.2", extras = ["email"] }
sqlalchemy = "^2.0.23"
asyncpg = "^0.29.0"
cryptography = "^42.0.5"
pillow = "^10.0.1"
pyyaml = "^6.0.1"
alembic = "^1.13.0"
authlib = "^1.3.0"
python-docx = "^1.1.0"
icalendar = "^5.0.11"

[tool.poetry.group.code-style]
optional = true
[tool.poetry.group.code-style.dependencies]
ruff = "^0.2.2"
pre-commit = "^3.6.2"

[tool.ruff]
line-length = 120
ignore = [
    # wildcard imports are fine
    "F403",
    "F405",
]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
