<!DOCTYPE html>
<html lang=“ru”>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2FA Verification Code</title>
    <style>
        /* Add your custom styles here */
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            text-align: center;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            padding: 30px;
        }

        .verification-code {
            font-size: 48px;
            font-weight: bold;
            margin-top: 20px;
        }

        p {
            font-size: 16px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    {% include 'logo.html' %}
    <h1>Email verification</h1>
    <p>Your verification code:</p>
    <div class="verification-code">
        {{ code }}
    </div>
    <p>Do not share this code. Use it one time only.</p>
</div>
</body>
</html>
